<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecondHandTrade"
        tools:targetApi="31">
        <activity
            android:name=".ActivityLogin"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPostEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPostRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPostImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityChatSend"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityChatReceive"
            android:screenOrientation="portrait" />
    </application>
</manifest>